---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Instagram from "../components/Instagram.astro";
import Discord from "../components/Discord.astro";
import Whatsapp from "../components/Whatsapp.astro";
import time from "../assets/imagen-3.png";
import Svg2 from "../components/Svg2.astro";
import Html from "../components/Html.astro";
import Css from "../components/Css.astro";
import Javascript from "../components/Javascript.astro";
import Bootstrap from "../components/Bootstrap.astro";
import Imagen3 from "../components/Imagen3.astro";
---

<Layout title="Proyectos Web | Nicolas Ramirez">
  <nav
    class="bg-[#FFFFDD] rounded-3xl min-h-[90px] mb-2 text-black px-8 flex justify-between items-center"
  >
    <span id="logo" class="text-4xl">NR</span>
    <div class="flex gap-4 items-center justify-center">
      <Instagram />
      <Whatsapp />
      <Discord />
    </div>
  </nav>
  <main class="h-[calc(100vh-114px)] text-black">
    <article
      class="[grid-area:1/1/2/3] xl:[grid-area:1/1/2/3] min-w-[100] bg-[#FFFFDD] flex items-center justify-center rounded-3xl p-8 flex-wrap lg:flex-nowrap"
    >
      <div
        class="flex flex-col gap-4 w-full xl:h-full flex-wrap justify-center"
      >
        <h1 class="leading-none text-center xl:text-left">
          Garantiza el Éxito Escolar
        </h1>
        <p class="text-balance text-center xl:text-left">
          Obtén un Proyecto Único: Nuestros trabajos de grado 11 son
          personalizados para destacar tus habilidades y conocimientos únicos.
          ¡Logra el reconocimiento que mereces!
        </p>
      </div>
      <div class="w-full xl:h-full flex items-center justify-center">
        <Imagen3 />
      </div>
    </article>
    <article
      class="[grid-area:4/1/6/3] xl:[grid-area:1/3/3/5] bg-[#FFFFDD] rounded-3xl p-8 flex flex-col items-center gap-8 xl:gap-0 xl:grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] grid-rows-2"
    >
      <div class="[grid-area:1/1/2/2] size-full">
        <span>Proyectos Personalizados</span>
      </div>

      <div
        class="[grid-area:1/2/2/3] h-full flex justify-center items-center w-full max-w-[400px] xl:max-w-[1080px] l"
      >
        <Svg2 />
      </div>
      <div
        class="flex flex-col gap-4 [grid-area:2/1/3/2;] h-full justify-end l"
      >
        <h2 class="leading-none text-center xl:text-left">
          Deja una Marca Duradera
        </h2>
        <p class="text-balance text-center xl:text-left">
          Obtén un Proyecto Único: Nuestros trabajos de grado 11 son
          personalizados para destacar tus habilidades y conocimientos únicos.
          ¡Logra el reconocimiento que mereces!
        </p>
      </div>

      <div
        class="flex object-contain [grid-area:2/2/3/3] items-end justify-end h-full"
      >
        <div
          class="object-contain w-full max-w-[300px] xl:max-w-[700px] flex gap-8"
        >
          <Html />
          <Css />
          <Javascript />
          <Bootstrap />
        </div>
      </div>
    </article>
    <article
      class="[grid-area:3/1/4/2] xl:[grid-area:2/1/3/2] bg-[#A2C579] rounded-3xl flex flex-col gap-4 justify-center items-center text-center p-8"
    >
      <h5 class="">+10</h5>
      <p class="text-balance">
        obtén una nota de 10 asegurado con nuestras paginas
      </p>
    </article>
    <article
      class="[grid-area:3/2/4/3] xl:[grid-area:3/1/4/2] bg-[#FFFFDD] rounded-3xl flex flex-col gap-4 justify-center items-center text-center p-8"
    >
      <h5 class="">+2</h5>
      <p class="text-balance">
        Con más de dos años hemos perfeccionado la fusión de creatividad y
        funcionalidad.
      </p>
    </article>
    <article
      class="[grid-area:6/1/8/3] xl:[grid-area:2/2/4/3] p-8 bg-[#D2DE32] rounded-3xl flex flex-col items-center justify-center"
    >
      <div class="flex flex-col gap-4 items-center justify-center text-center">
        <div class="max-w-[400px] xl:max-w-[700px]">
          <Image
            src={time}
            width="1080"
            height="1080"
            alt="Una descripción de mi imagen."
            class="object-contain aspect-video saturate-200"
          />
        </div>
        <h3 class="leading-none">Ahorra Tiempo!</h3>
        <p class="text-balance">
          ¡Permítenos aligerar tu carga académica para que puedas disfrutar de
          un tiempo más equilibrado y sin preocupaciones!
        </p>
      </div>
    </article>
    <footer
      class="[grid-area:2/1/3/3] xl:[grid-area:3/3/4/5] bg-[#FFFFDD] rounded-3xl p-8 flex items-center justify-center gap-8 flex-col xl:flex-row"
    >
      <h4 class="text-center xl:text-left leading-none">
        Mira que podemos hacer
      </h4>
      <button
        class="bg-black text-white py-4 px-5 rounded-3xl min-w-[170px] transition-all duration-200 hover:scale-90 hover:bg-zinc-900"
        >Contactame Ya</button
      >
    </footer>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3,
  #logo {
    font-family: "Gilroy-Heavy", system-ui, sans-serif;
    text-wrap: pretty;
  }
  h4,
  h5 {
    font-family: "Gilroy-Black", system-ui, sans-serif;
    text-wrap: pretty;
  }

  h1,
  h2,
  h5 {
    font-size: clamp(3rem, 3vw, 5rem);
  }

  h4,
  h3 {
    font-size: clamp(3rem, 2vw, 3rem);
  }
  p {
    font-size: clamp(16px, 4vw, 18px);
  }
  @media only screen and (min-width: 1920px) {
    h1,
    h2,
    h5 {
      font-size: clamp(3rem, 5vw, 6rem);
    }
    p {
      font-size: clamp(16px, 1.5vw, 32px);
    }
    span {
      font-size: clamp(14px, 1vw, 24px);
    }
    h4,
    h3 {
      font-size: clamp(4rem, 5vw, 5rem);
    }
  }

  button {
    font-family: "Gilroy-Bold", system-ui, sans-serif;
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
  }

  @media screen and (max-width: 1280px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .div2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .div4 {
      grid-area: 3 / 1 / 5 / 3;
    }
    .div5 {
      grid-area: 5 / 1 / 7 / 3;
    }
    .div6 {
      grid-area: 7 / 1 / 8 / 3;
    }
  }
</style>
