---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Time from "../components/Imagen4.astro";
import Svg2 from "../components/Svg2.astro";
import Html from "../components/Html.astro";
import Css from "../components/Css.astro";
import Javascript from "../components/Javascript.astro";
import Bootstrap from "../components/Bootstrap.astro";
import Imagen3 from "../components/Imagen3.astro";
import ModalDemo from "@/components/Modal";
import NavbarDemo from "@/components/Navbar";
---

<Layout title="Proyectos Web">
  <NavbarDemo client:visible />

  <main class="text-black pb-2">
    <article
      class="[grid-area:1/1/2/3] xl:[grid-area:1/1/2/3] min-w-[100] bg-[#FFFFDD] flex items-center justify-center rounded-3xl p-8 flex-wrap lg:flex-nowrap"
    >
      <div
        class="flex flex-col gap-4 w-full xl:h-full flex-wrap justify-center"
      >
        <h1 class="leading-none text-center xl:text-left">
          Garantiza el Éxito Escolar
        </h1>
        <p class="text-pretty text-center xl:text-left">
          Obtén un Proyecto Único: Nuestros trabajos de grado 11 son
          personalizados para destacar tus habilidades y conocimientos únicos.
          ¡Logra el reconocimiento que mereces!
        </p>
      </div>
      <div class="w-full xl:h-full flex items-center justify-center">
        <Imagen3 />
      </div>
    </article>
    <article
      class="[grid-area:4/1/6/3] xl:[grid-area:1/3/3/5] bg-[#FFFFDD] rounded-3xl p-8 flex flex-col items-center gap-8 xl:gap-0 xl:grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] grid-rows-2"
    >
      <div class="[grid-area:1/1/2/2] size-full">
        <span>Proyectos Personalizados</span>
      </div>

      <div
        class="[grid-area:1/2/2/3] h-full flex justify-center items-center w-full max-w-[400px] xl:max-w-[1080px] l"
      >
        <Svg2 />
      </div>
      <div
        class="flex flex-col gap-4 [grid-area:2/1/3/2;] h-full justify-end l"
      >
        <h2 class="leading-none text-center xl:text-left">
          Deja una Marca Duradera
        </h2>
        <p class="text-balance text-center xl:text-left">
          Obtén un Proyecto Único: Nuestros trabajos de grado 11 son
          personalizados para destacar tus habilidades y conocimientos únicos.
          ¡Logra el reconocimiento que mereces!
        </p>
      </div>

      <div
        class="flex object-contain [grid-area:2/2/3/3] items-end justify-end h-full"
      >
        <div
          class="object-contain w-[80%] max-w-[300px] xl:max-w-[700px] flex gap-8"
        >
          <span id="html" class="relative size-full">
            <span
              class="bg-black text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1 rounded-2xl font-['Gilroy-Medium'] opacity-0 transition-all duration-200"
              >Html</span
            >
            <Html />
          </span>

          <span id="html" class="relative size-full">
            <span
              class="bg-black text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1 rounded-2xl font-['Gilroy-Medium'] opacity-0 transition-all duration-200"
              >CSS</span
            >
            <Css />
          </span>
          <span id="html" class="relative size-full">
            <span
              class="bg-black text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1 rounded-2xl font-['Gilroy-Medium'] opacity-0 transition-all duration-200"
              >Javascript</span
            >
            <Javascript />
          </span>
          <span id="html" class="relative size-full">
            <span
              class="bg-black text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1 rounded-2xl font-['Gilroy-Medium'] opacity-0 transition-all duration-200"
              >Bootstrap</span
            >
            <Bootstrap />
          </span>
        </div>
      </div>
    </article>
    <article
      class="[grid-area:3/1/4/2] xl:[grid-area:2/1/3/2] bg-[#A2C579] rounded-3xl flex flex-col gap-4 justify-center items-center text-center p-8"
    >
      <h5 class="">+10</h5>
      <p class="text-pretty">
        obtén una nota de 10 asegurado con nuestras paginas
      </p>
    </article>
    <article
      class="[grid-area:3/2/4/3] xl:[grid-area:3/1/4/2] bg-[#FFFFDD] rounded-3xl flex flex-col gap-4 justify-center items-center text-center p-8"
    >
      <h5 class="">+2</h5>
      <p class="text-pretty">
        Con más de dos años hemos perfeccionado la fusión de creatividad y
        funcionalidad.
      </p>
    </article>
    <article
      class="[grid-area:6/1/8/3] xl:[grid-area:2/2/4/3] p-8 bg-[#D2DE32] rounded-3xl flex flex-col items-center justify-center"
    >
      <div class="flex flex-col gap-4 items-center justify-center text-center">
        <div class="max-w-[400px] xl:max-w-[700px] object-contain">
          <Time />
        </div>
        <h3 class="leading-none">Ahorra Tiempo!</h3>
        <p class="text-pretty">
          ¡Permítenos aligerar tu carga académica para que puedas disfrutar de
          un tiempo más equilibrado y sin preocupaciones!
        </p>
      </div>
    </article>
    <footer
      class="[grid-area:2/1/3/3] xl:[grid-area:3/3/4/5] bg-[#FFFFDD] rounded-3xl p-8 flex items-center justify-center gap-8 flex-col xl:flex-row"
    >
      <h4 class="text-center xl:text-left leading-none">
        Mira que podemos hacer
      </h4>
      <a
        href="https://api.whatsapp.com/send/?phone=%2B573232364155&text&type=phone_number&app_absent=0"
        class="bg-black font-['Gilroy-Bold'] text-white py-4 px-5 rounded-3xl min-w-[170px] transition-all duration-200 active:scale-90 hover:bg-zinc-900"
        >Contactame Ya</a
      >
      <!-- <ModalDemo client:visible /> -->
    </footer>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3,
  #logo {
    font-family: "Gilroy-Heavy", system-ui, sans-serif;
    text-wrap: balance;
  }
  h4,
  h5 {
    font-family: "Gilroy-Black", system-ui, sans-serif;
    text-wrap: balance;
  }

  h1,
  h2,
  h5 {
    font-size: clamp(3rem, 3vw, 5rem);
  }

  h4,
  h3 {
    font-size: clamp(3rem, 2vw, 3rem);
  }
  p {
    font-size: clamp(16px, 4vw, 18px);
  }
  @media only screen and (min-width: 1920px) {
    h1,
    h2,
    h5 {
      font-size: clamp(3rem, 5vw, 6rem);
    }
    p {
      font-size: clamp(16px, 1.5vw, 32px);
    }
    span {
      font-size: clamp(14px, 1vw, 24px);
    }
    h4,
    h3 {
      font-size: clamp(4rem, 5vw, 5rem);
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
  }

  @media screen and (max-width: 1280px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
    }
  }

  #html:hover > span {
    opacity: 1;
    top: -70%;
  }
</style>
