<a
  href="https://discord.gg/zTkPzyxCsw"
  class="size-full transition-all duration-200 hover:scale-90"
>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>mi Discord</title>

    <g clip-path="url(#clip0_6_77)">
      <path
        d="M13.3333 20C13.3333 20.442 13.5089 20.866 13.8215 21.1785C14.1341 21.4911 14.558 21.6667 15 21.6667C15.442 21.6667 15.866 21.4911 16.1785 21.1785C16.4911 20.866 16.6667 20.442 16.6667 20C16.6667 19.558 16.4911 19.1341 16.1785 18.8215C15.866 18.5089 15.442 18.3333 15 18.3333C14.558 18.3333 14.1341 18.5089 13.8215 18.8215C13.5089 19.1341 13.3333 19.558 13.3333 20Z"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M23.3333 20C23.3333 20.442 23.5089 20.866 23.8215 21.1785C24.1341 21.4911 24.558 21.6667 25 21.6667C25.442 21.6667 25.866 21.4911 26.1785 21.1785C26.4911 20.866 26.6667 20.442 26.6667 20C26.6667 19.558 26.4911 19.1341 26.1785 18.8215C25.866 18.5089 25.442 18.3333 25 18.3333C24.558 18.3333 24.1341 18.5089 23.8215 18.8215C23.5089 19.1341 23.3333 19.558 23.3333 20Z"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M25.8333 28.3333C25.8333 30 28.3333 33.3333 29.1667 33.3333C31.6667 33.3333 33.8883 30.555 35 28.3333C36.1117 25.555 35.8333 18.6117 32.5 9.16666C30.0717 7.47499 27.5 6.93332 25 6.66666L23.38 9.87166C21.1449 9.48582 18.8601 9.48582 16.625 9.87166L15 6.66666C12.5 6.93332 9.92833 7.47499 7.5 9.16666C4.16666 18.6117 3.88833 25.555 5 28.3333C6.11166 30.555 8.33333 33.3333 10.8333 33.3333C11.6667 33.3333 14.1667 30 14.1667 28.3333"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M11.6667 27.5C17.5 29.1667 22.5 29.1667 28.3333 27.5"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <defs>
      <clipPath id="clip0_6_77">
        <rect width="40" height="40" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
