<a
  href="https://www.instagram.com/nico2rc_/"
  class="size-full grid place-items-center"
>
  <svg
    width="40"
    height="40"
    viewBox="5 2 35 35"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="size-full"
  >
    <title>mi instagram xNico2rc</title>
    <g clip-path="url(#clip0_6_68)">
      <path
        d="M6.66667 13.3333C6.66667 11.5652 7.36905 9.86952 8.61929 8.61928C9.86954 7.36904 11.5652 6.66666 13.3333 6.66666H26.6667C28.4348 6.66666 30.1305 7.36904 31.3807 8.61928C32.631 9.86952 33.3333 11.5652 33.3333 13.3333V26.6667C33.3333 28.4348 32.631 30.1305 31.3807 31.3807C30.1305 32.6309 28.4348 33.3333 26.6667 33.3333H13.3333C11.5652 33.3333 9.86954 32.6309 8.61929 31.3807C7.36905 30.1305 6.66667 28.4348 6.66667 26.6667V13.3333Z"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M15 20C15 21.3261 15.5268 22.5979 16.4645 23.5355C17.4021 24.4732 18.6739 25 20 25C21.3261 25 22.5979 24.4732 23.5355 23.5355C24.4732 22.5979 25 21.3261 25 20C25 18.6739 24.4732 17.4021 23.5355 16.4645C22.5979 15.5268 21.3261 15 20 15C18.6739 15 17.4021 15.5268 16.4645 16.4645C15.5268 17.4021 15 18.6739 15 20Z"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M27.5 12.5V12.5167"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <defs>
      <clipPath id="clip0_6_68">
        <rect width="40" height="40" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
